<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="projectsContext"
         connectionString="Server=6cb1910b-cdef-4408-a1e2-a5fe00fac687.sqlserver.sequelizer.com;Database=db6cb1910bcdef4408a1e2a5fe00fac687;User ID=aazjaafzcfffzhbb;Password=h8NoefzRN8MRYZo7oiLWQJGwSFzbRBsBDqRJ5QE4GoRdwDeo6o8VNpuFzqCFMxak;"/>
  </connectionStrings>
</configuration>